<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>$title$</title>
    <link rel="stylesheet" href="/_static/theme.css" />
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3CEVPVH0T7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-3CEVPVH0T7');
    </script>
  </head>
  <body>
    <header class="site-header">
      <div class="inner">
        <a href="/">blog</a>
        <a href="/about/">about</a>
      </div>
    </header>
    <main class="container">
      $body$
    </main>
  </body>
  </html>



